html {
  background: url(boekingbg.jpg) 
  no-repeat center center fixed;
  background-size: cover;
  height: 100%;
 }
* {
 padding: 0;
 margin: 0;
 font-family: Trebuchet MS;
}
 
.menu {
 margin: 5px;
 padding: 5px;
text-align: center;
margin-top: 2%;
margin-right: 3%;
}
 
.menu ul li {
 display: inline;
 padding: 0 5px;
 width: 40px;
}
 
.menu ul li a, a:link, a:visited, a:active {
 color: #FFF;
 text-decoration: none;
 font-weight: bold;
 border-bottom: 3px solid #FFF;
}
 
.menu ul li a:hover {
 color: #FFF;
 border-bottom: 5px solid #00ff40;
 border-top:  5px solid #00ff40;
}


.entry-content {
	margin-left: 10%;
	margin-top: 7%;
	position: absolute;
	color: white;
}

.entry-footer {
	margin-left: 10%;
	margin-top: 12%;
	position: absolute;
	
}
.entry-title{
		margin-left: 10%;
	margin-top: 23%;
	position: absolute;
		color: white;
}

	
