html {
  background: url(boekingbg.jpg) 
  no-repeat center center fixed;
  background-size: cover;
  height: 100%;

}
}
* {
 padding: 0;
 margin: 0;
 font-family: Trebuchet MS;
}
 
.menu {
 margin: 5px;
 padding: 5px;
text-align: center;
margin-top: 2%;
margin-right: 3%;
}
 
.menu ul li {
 display: inline;
 padding: 0 5px;
 width: 40px;
}
 
.menu ul li a, a:link, a:visited, a:active {
 color: #FFF;
 text-decoration: none;
 font-weight: bold;
 border-bottom: 3px solid #FFF;
}
 
.menu ul li a:hover {
 color: #FFF;
 border-bottom: 5px solid #00ff40;
 border-top:  5px solid #00ff40;
}


fieldset{
	text-align:left;
	border: 2px solid grey;
	left: 27%;        
	top: 15%;
	position: absolute;
    width: 43%;
    margin: auto;
    background-color:#f2f2f2;
}

input, select{
	
    border: 2px solid #999999;
    margin: 5px;
    padding: 5px 20px 5px 40px;
    width: 90%;
    text-align: center;
    font-size: 1em;
	padding: 20px;
    padding-top: 7px;
    padding-right: 20px;														
	
}

#bericht {
	font-size: 1em;
	padding-top: 25%;
}

.myButton {
	background-color:#7892c2;
	-moz-border-radius:23px;
	-webkit-border-radius:23px;
	border-radius: 30px;
	border: 2px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding: 10px 45px;
	text-decoration:none;
	text-shadow:0px 0px 0px #283966;
}
.myButton:hover {
	background-color:#f2f2f2;
	border: 2px solid #4e6096;
	color:  #4e6096;
}
.entry-header {
	margin-left: 43%;
	position: absolute;
	color: white;
	 border: 2px solid white;
}
.myButton:active {
	position:relative;
	top:1px;
}



.text {
	font-family: sans-serif; 
	margin-left: 1%;
}

footer{
	background-color: rgb(63, 63, 63);
	margin-top: 60%;
	color: white;
	width:96%;
	height: 300px;
	position: absolute;
	float: left;
}	







