
.tinted-image {
  bottom: 215%;
  width:  100%;
  height: 657px;


  
  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 30, 0.50), 
      rgba(0, 0, 30, 0.50)
    ),
    /* bottom, image */
    url(achtergrond.jpg);
	background-repeat: no-repeat;
	background-position: ;
	background-size: cover;
}
* {
 padding: 0;
 margin: 0;
 font-family: Trebuchet MS;
}
 
.menu {
 margin: 5px;
 padding: 5px;
text-align: center;
position: absolute;
margin-top: 18%;
margin-left: 30%;
}
 
.menu ul li {
 display: inline;
 padding: 0 5px;
 width: 40px;
}
 
.menu ul li a, a:link, a:visited, a:active {
 color: #FFF;
 text-decoration: none;
 font-weight: bold;
 border-bottom: 3px solid #FFF;
}
 
.menu ul li a:hover {
 color: #FFF;
 border-bottom: 5px solid #00ff40;
 border-top:  5px solid #00ff40;
}

.logo{
	position:absolute;
	width: auto;
	top: 2%;	
	left:40%;
}




.begin {
	position:absolute;
	font-style: Calibri;
	width: auto;
	color: white;
	left:32%;
	top: 25%;	
	font-family: georgia;

}

.geenherrie {
	position:absolute;
	font-style: oblique;
	width: auto;
	color: white;
	left:45%;
	top: 29%;	
	font-family: georgia;

}

.mid {
	position:absolute;
	width: auto;
	color: white;
	left:42%;
	top: 50%;		
	font-family: Georgia;

}
.mid2 {
	position:absolute;
	color: white;
	width: auto;
	left:27%;
	top: 55%;
	font-family: georgia;

}
.mid3 {
	position:absolute;
	width: auto;
	color: white;
	left:34%;
	top: 60%;
	font-family: georgia;

}

.facebook {
	position:absolute;
	left: 30%;
	top: 85%;
	background-color: #83b6cc;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	border-radius:22px;
	border:2px solid  #83b6cc;
	display:inline-block;
	cursor:pointer;
	font-family:Arial; 
	font-size:17px;
	font-weight:bold;
	padding:14px 54px;
	text-decoration:none;
	text-shadow:0px 1px 50px #83b6cc;
	
}
.facebook:hover {
	background-color: transparent;
	color: #83b6cc;
}

.boekons {
	color: #000000;
	position:absolute;
	left: 49.5%;
	top: 85%;
	
	background-color:#f2f2f2;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	border-radius:22px;
	border:2px solid #f2f2f2;
	display:inline-block;
	cursor:pointer;
	font-family:geogria;
	font-size:17px;
	padding:14px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f2f2f2;
	
}
.boekons:hover {
	background-color: transparent;
	color: white;
}
